@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900;1000&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    border-style: none;
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
/*-----------------------------------*\
            #HEADER
\*-----------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /* From https://css.glass */
    background: rgba(127, 173, 57, 0.21);
    /* border-radius: 16px; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
}

nav {
    height: 80px;
}

.nav-item {
    margin: 10px 0;
}

    .nav-item a {
        position: relative;
        text-decoration: none;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 15px;
        letter-spacing: .5px;
        font-size: 18px;
        padding: 0 10px;
    }

        .nav-item a:hover {
            color: #7fad39;
            /* font-weight: bold; */
        }

        .nav-item a::after {
            content: "";
            position: absolute;
            background-color: #7fad39;
            height: 4px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: .3s;
        }

        .nav-item a:hover::after {
            width: 100%;
        }

.navbar-brand {
    height: 50px;
    width: 100px;
}

.search {
    width: 300px;
    height: 45px;
    outline: none;
    border: 2px solid #7fad39;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    border-right: none;
    background-color: #fff;
}

.btn1 {
    width: 80px;
    height: 45px;
    outline: none;
    border: none;
    background-color: #7fad39;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    transition: all .4s;
}

    .btn1:hover {
        background-color: #6c8d3a;
    }

.bi-basket2-fill {
    font-size: 30px;
    color: #6c8d3a;
    cursor: pointer;
    transition: all .4s;
    margin-left: 30px;
    line-height: 80px;
}

    .bi-basket2-fill:hover {
        color: #7fad39;
    }

.navbar-toggler {
    font-size: 25px;
    color: #000;
}

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

/*-----------------------------------*\
            #MAIN
\*-----------------------------------*/

.containers {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

main .container {
    overflow: hidden;
}

#slide {
    width: max-content;
    margin-top: 50px;
    overflow: hidden;
}

.item {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

    .item:nth-child(1),
    .item:nth-child(2) {
        left: 0;
        top: 0;
        transform: translate(0, 0);
        border-radius: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .item:nth-child(3) {
        left: 50%;
    }

    .item:nth-child(4) {
        left: calc(50% + 220px);
    }

    .item:nth-child(5) {
        left: calc(50% + 440px);
    }

    .item:nth-child(n+6) {
        left: calc(50% + 660px);
        opacity: 0;
    }

    .item .content {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 30rem;
        height: 15rem;
        text-align: left;
        padding: 20px;
        color: #333;
        transform: translate(0, -50%);
        display: none;
        /* From https://css.glass */
        background: rgba(170, 170, 170, 0.219);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .item:nth-child(2) .content {
        display: block;
        z-index: 11111;
    }

    .item .name {
        font-size: 40px;
        color: #6c8d3a;
        font-weight: bold;
        opacity: 0;
        animation: showcontent 1s ease-in-out 1 forwards
    }

    .item .des {
        margin: 20px 0;
        opacity: 0;
        font-size: 20px;
        font-weight: bold;
        animation: showcontent 1s ease-in-out 0.3s 1 forwards
    }

    .item button {
        padding: 10px 50px;
        color: #fff;
        font-weight: 500;
        border: none;
        opacity: 0;
        border-radius: 10px 0 10px 0;
        background-color: #6c8d3a;
        animation: showcontent 1s ease-in-out 0.6s 1 forwards;
        transition: .4s;
    }

        .item button:hover {
            border: 2px solid #6c8d3a;
            background-color: transparent;
            color: #6c8d3a;
            scale: 110%;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            border-radius: 0 20px 0 20px;
        }

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.buttons {
    position: absolute;
    bottom: 10%;
    z-index: 222222;
    text-align: center;
    display: inline;
}

    .buttons button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #555;
        transition: 0.5s;
    }

        .buttons button:hover {
            background-color: #bac383;
        }

.line {
    height: 6px;
    width: 30%;
    background: #7fad39;
    display: inline-block;
}


.background-image1 {
    background-image: url('../imgs/red-apple.jpg');
    /* Các thuộc tính CSS khác cho background image */
}

.background-image2 {
    background-image: url('../imgs/manngo.jpg');
}

.background-image3 {
    background-image: url('../imgs/m1.jpg');
}

.background-image4 {
    background-image: url('../imgs/strawnb.jpg');
}

.background-image5 {
    background-image: url('../imgs/lemon.jpg');
}

.background-image6 {
    background-image: url('../imgs/papaya.jpg');
}

/*-----------------------------------*\
            #WELCOME
\*-----------------------------------*/
.welcome {
    background: #7fad39;
}

.line2 {
    height: 6px;
    width: 30%;
    background-color: #fff;
    display: inline-block;
}

.welcome h1 {
    font-size: 3rem;
    font-weight: bold;
}

.welcome .card {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.welcome i {
    font-size: 45px;
    color: #7fad39;
}

.welcome h2 {
    font-weight: lighter;
    padding: 10px 0;
}

.welcome .card-body h2 {
    /* color: #6c8d3a; */
    font-weight: 400;
}

/*-----------------------------------*\
            #PRODUCT
\*-----------------------------------*/

.start {
    position: absolute;
    font-size: 18px;
    z-index: 5;
    top: 10px;
    right: 15px;
}

    .start span {
        text-align: end;
        color: orange;
        font-weight: bold;
    }

.card-custom {
    width: 18rem; /* 300px */
    height: 22rem; /* 400px */
}

.product .card {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 60px 10px 70px 10px;
    overflow: hidden;
    border: 1px solid #7fad39;
    background: rgba(146, 238, 9, 0.1);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.product .card-header {
    border: none;
    position: relative;
    height: 20rem;
    overflow: hidden;
    /* max-height: 23rem; */
    max-height: 250px;
}

    .product .card-header img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        background-position: center;
        transition: scale 400ms;
    }

    .product .card-header:hover img {
        scale: 120%;
    }

.product .card-body {
    border: 1px solid rgb(175, 172, 172);
    border: none;
}

    .product .card-body h4 {
        font-weight: 600;
        transition: .25s;
    }

    .product .card-body:hover h4 {
        color: #6c8d3a;
    }

.btnc {
    height: 50px;
    width: 80%;
    outline: none;
    color: #fff;
    background: #6c8d3a;
    border-radius: 30px 0 30px 0;
    margin: 0 auto;
    display: block;
    transition: all .4s;
}

    .btnc:hover {
        border: 2px solid #6c8d3a;
        background-color: #fff;
        color: #6c8d3a;
        scale: 105%;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        border-radius: 10px;
    }

/*-----------------------------------*\
            #DISCOUNT
\*-----------------------------------*/
.discount {
    background: #6c8d3a;
    color: #fff;
}

.dbtn {
    height: 50px;
    width: 70%;
    outline: none;
    border: none;
    color: #333;
    background: #fff;
    border-radius: 20px 0 20px 0;
    margin: 0 auto;
    display: block;
    font-weight: 600;
    transition: all .4s;
}

    .dbtn:hover {
        background-color: wheat;
    }

/*-----------------------------------*\
            #STORE
\*-----------------------------------*/

.store h1,
.store p {
    color: #000;
    transition: .5s;
}

.store .line2 {
    height: 6px;
    width: 30%;
    background-color: #7fad39;
    display: inline-block;
}

.store h1 {
    font-size: 3rem;
    font-weight: bold;
}

.store .card {
    border: none;
    border-radius: 10px 70px 30px 70px;
    cursor: pointer;
    border: 3px solid #7fad39;
    transition: all .5s;
}

.store .card-body {
    min-height: 11rem;
    height: 11rem;
}

.store .card:hover {
    background-color: #7fad39;
}

    .store .card:hover i,
    .store .card:hover h4,
    .store .card:hover p {
        color: #fff;
    }

.store i {
    font-size: 45px;
    color: #7fad39;
    transition: all .5s;
}

.store h4 {
    font-weight: 400;
    transition: .5s;
}

/*-----------------------------------*\
            #SELLER
\*-----------------------------------*/
.seller .line2 {
    height: 6px;
    width: 30%;
    background-color: #7fad39;
    display: inline-block;
}

.seller .card {
    border-radius: 10px;
    border: 1px solid #7fad39;
    overflow: hidden;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.seller .per1 {
    font-weight: lighter;
}

.card-body .selstart {
    font-size: 18px;
    top: 10px;
    right: 15px;
}

.card-body .selstart {
    text-align: end;
    color: orange;
    font-weight: bold;
}

/*-----------------------------------*\
            #FOOTER
\*-----------------------------------*/
.footer {
    padding-top: 50px;
    background-color: #7fad39;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
}

    .footer ul {
        list-style: none;
    }

        .footer ul li a {
            list-style: none;
            text-decoration: none;
            color: #fff;
            transition: .4s;
        }

        .footer ul > li:hover > a {
            color: #333f21;
        }

.footer__widget__social i {
    font-size: 35px;
    margin-right: 15px;
    color: #fff;
    transition: .4s;
}

.footer__widget__social > a:hover > i {
    color: #333f21;
}

.group-email {
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center;
    border-radius: 50px 0 50px 0;
}

    .group-email p {
        font-weight: bold;
        color: #6c8d3a;
    }

    .group-email input {
        outline: none;
        text-align: center;
        width: 70%;
        border-bottom: 1px solid #333f21;
    }

    .group-email .site-btn {
        background-color: #6c8d3a;
        color: #fff;
        width: 100px;
        border-radius: 20px 0 20px 0;
    }

.footer__copyright {
    border-top: 1px solid #fff;
    text-align: center;
}

/*-----------------------------------*\
            #Scroll Top
\*-----------------------------------*/
.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #6c8d3a;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, visibility 0.3s;
}

    .back-to-top-btn::before {
        content: 'Top';
        position: absolute;
        border: none;
        background-color: transparent;
        right: 0;
        left: 0;
        top: -100%;
        font-size: 30px;
        font-weight: 600;
        transition: .3s;
    }

    .back-to-top-btn:hover::before {
        transform: scale(1.3);
        font-weight: bold;
    }

    .back-to-top-btn:hover i {
        color: #7fad39;
    }

    .back-to-top-btn i {
        font-size: 50px;
        transition: .4s;
    }




/*---------------------
    DropDown 
-----------------------*/
.box {
    position: relative;
    width: 250px;
/*    height: 250px;*/
}

.dropdown {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #6c8d3a;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

    .dropdown .left-icon,
    .dropdown .right-icon {
        position: relative;
        top: 2px;
        display: inline-block;
        width: 15px;
        height: 5px;
        background: #fff;
        border-radius: 40px;
        transition: .5s;
    }

    .dropdown .left-icon {
        left: 7px;
        transform: rotate(45deg);
    }

    .dropdown.active .left-icon {
        transform: rotate(135deg);
    }

    .dropdown .right-icon {
        transform: rotate(-45deg);
    }

    .dropdown.active .right-icon {
        transform: rotate(-135deg);
    }

    .dropdown .items {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto !important;
        margin-top: 63px;
        overflow: hidden;
        visibility: hidden;
        transition: .5s;
    }

    .dropdown.active .items {
        visibility: visible;
    }

    .dropdown .items a {
        position: relative;
        left: 100%;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        /*background: #fff;*/

        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        color: #6c8d3a;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px 15px;
        margin-top: 2.5px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
        transition-delay: calc(60ms * var(--i));
    }

    .dropdown.active .items a {
        left: 0;
    }

    .dropdown .items a:hover {
        color: #fff;
    }

    .dropdown .items a span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #7fad39;
        z-index: -1;
        border-radius: inherit;
        transform: rotate(160deg);
        transform-origin: right;
        transition: .3s;
    }

    .dropdown .items a:hover span {
        transform: rotate(0deg);
    }



/*-----------------------------------*\
            #Product Detail
\*-----------------------------------*/

.product-details {
    padding-top: 80px;
}

.img-right {
    border-radius: 20% 0 20% 0;
    border: 3px solid #7fad39;
    overflow: hidden;
}

.product__details__pic__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__details__text h3 {
    color: #252525;
    font-weight: 700;
    font-size: 36px;
    margin: 16px 0;
}

.product__details__text .product__details__rating {
    font-size: 14px;
    margin-bottom: 12px;
}

    .product__details__text .product__details__rating i {
        margin-right: -2px;
        color: #EDBB0E;
    }

    .product__details__text .product__details__rating span {
        color: #dd2222;
        margin-left: 4px;
    }

.product__details__text .product__details__price {
    font-size: 36px;
    color: #dd2222;
    font-weight: 600;
    margin-bottom: 15px;
}

.product__details__text .des-item {
    height: 100px;
    margin-bottom: 45px;
}

.product__details__text p {
    font-size: 20px;
}

.product__details__text .primary-btn {
    padding: 16px 28px 14px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.product__details__text .heart-icon {
    display: inline-block;
    font-size: 16px;
    color: #6f6f6f;
    padding: 13px 16px 13px;
    background: #f5f5f5;
}

.product__details__text ul {
    border-top: 3px solid #ebebeb;
    padding-top: 40px;
    margin-top: 50px;
}

    .product__details__text ul li {
        font-size: 16px;
        color: #1c1c1c;
        list-style: none;
        line-height: 36px;
    }



.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .form-group label {
        margin-right: 10px;
    }

    .form-group input[type="number"] {
        width: 50px;
    }

form .btnAdd {
    background-color: #6c8d3a;
    border-radius: 20px 0 20px 0;
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
    transition: .3s;
}

    form .btnAdd:hover {
        background: #505050;
    }

.product__details__text ul li b {
    font-weight: 700;
    width: 170px;
    display: inline-block;
}

    .product__details__text ul li b span {
        font-size: 28px;
    }

.product__details__text ul li span samp {
    color: #dd2222;
}

.product__details__text ul li .share {
    display: inline-block;
    margin-top: 10px;
}

    .product__details__text ul li .share a {
        display: inline-block;
        font-size: 15px;
        color: #394626;
        font-size: 24px;
        margin-right: 10px;
    }

        .product__details__text ul li .share a:hover {
            color: #6c8d3a;
        }

        .product__details__text ul li .share a:last-child {
            margin-right: 0;
        }
