@model BanHangOgani.Models.Category

@{
    ViewData["Title"] = "Create Category";
}


<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="saveCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">ID</label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ncategory" class="control-label">Category</label>
                <input asp-for="Ncategory" class="form-control" />
                <span asp-validation-for="Ncategory" class="text-danger"></span>
            </div>
     @*       <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewAllCategories">
        <button type="button" class="btnBack">Back to List</button>
    </a>
</div>



